/* 
    Created on : 19-jul-2016, 12:43:41
    Author     : Sonja
*/

/* reset styles */ 
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote { 
    padding: 0; 
    margin: 0; 
    font-size: 100%; 
    font-weight: normal; 
}/* end reset styles */

/*main styles*/
body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    text-align: justify;
    background-image: url(img/column.jpg);
    background-size: auto;
}

/*header style*/
#header { 
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    color: antiquewhite;
    border-bottom-style: solid;
    border-bottom-width: thin;
    float: top;
}

.MummieFabriekTekst {
    clear: left;
    font-family: "Century Gothic";
    font-size: 50px;
    color: ivory;
}

/*body styles*/
#indexIntroductieLinks {
    height: 500px;
    width: 15%;
    text-align: justify;
    float: left;
    margin: 20px auto auto 20px;
    background: rgba(255, 255, 255, 0.6);
    color: #2c231c;
    border-style: solid;
    border-width: thin;
}

h1.indexIntroductieLinks {
    text-align: justify;
    font-size: large;
}

/*button styles*/

a.button {
    background-color: rgba(44, 35, 28, 0.80);
    height: 45px;
    width: 80%;
    border-style: solid;
    border-width: thin;
    border-color: silver;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 14px 20px 0 rgba(0,0,0,0.19);
}

a.button:hover {
    background-color: rgba(231, 231, 231, 0.25);
    transition-duration: 0.4s;
}

a.buttonRechts {
    background-color: rgba(44, 35, 28, 0.85);
    height: 45px;
    width: 30%;
    border-style: solid;
    border-width: thin;
    border-color: silver;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 14px 20px 0 rgba(0,0,0,0.19);
}

a.buttonRechts:hover {
    background-color: rgba(231, 231, 231, 0.50);
    color: rgba(44, 35, 28, 0.70);
    transition-duration: 0.4s;
}

#indexInhoudMidden {
    height: auto;
    width: 75%;
    float: right;
    margin: 20px 20px auto auto;
    background: rgba(255, 255, 255, 0.6);
    color: #2c231c;
    border-style: solid;
    border-width: thin;
}

h2.indexInhoudMidden {
    text-align: justify;
    font-size: large;
}

/*footer style*/
#footer {
    height: 50px;
    width: 100%;
    color: antiquewhite;
    /*margin-top: auto;*/
    clear: left;
}

/*table styles*/
table {
    margin: 0 20px;
    border-spacing: 0;
    text-align: center;
    border: solid 1px #f5eabe;
}

#tableScroll {
    height: 500px;
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}

.listTable {
    width: 95%;
    margin: 20px 20px 20px 25px;
    table-layout: auto;
    position: relative;
    z-index: 1;
}

.listTable th { 
    background-color: #faf1d6; 
    border-bottom: solid 1px whitesmoke;
}

.listTable tr { height: 50px }

/*dark row*/
.listTable tr:nth-child(odd) { background-color: #efdcc3 }

/*light row*/
.listTable tr:nth-child(even) { background-color: #faf1d6 }
